@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>Windows authentication and limited anonymous access</h1>
        <p>Example created to try to allow anonymous access to one or more controllers and/or actions.</p>
        <p>Haven't got it to work yet... :-(</p>
    </section>
</main>